
.tab-content > li {
    float:none;
    display:inline-block;
    zoom:3;
}

.tab-content {
    text-align:center;
}

form {

  text-align: center;
}

body{
padding:0;
 margin:0; 
}